{% extends "note/base_note.html" %}
{% load static %}

{% block title %}{% if id %}修改{% else %}创建{% endif %}{% endblock %}

{% block style %}
<style type='text/css'>
.form-group {
  margin-bottom: 5px;
}
.btn-default {
  margin-right: 8px;
}
#form-input {
  margin: 20px 0;
}
#id_title, #id_topic, #id_publish, #id_status {
  height: 34px;
  font-size: 1em;
  line-height: 1.42857143;
}
.ck-editor__editable {
  min-height: 400px;
}
</style>
{% endblock %}

{% block script %}
<script src="{% static "o/js/sha.js" %}"></script>
<script src="{% static "ckeditor5/ckeditor.js" %}"></script>
<script src="{% static "ckeditor5/translations/zh-cn.js" %}"></script>
<script>
function calcHash() {
    {% if not id %}
    var hash = new jsSHA($('#id_title').val() + $('#id_publish').val(), 'TEXT');
    $('#id_slug').val(hash.getHash('SHA-1', 'HEX', 1).slice(0, 10));
    {% endif %}
}
$(function() {
ClassicEditor
    .create( document.querySelector( '#id_text' ), {
        language: 'zh-cn',
        ckfinder: {
            uploadUrl: '/fileupload/upload/'
        }
    } )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );
});
</script>
{% endblock %}

{% block content %}
<div id="content">
<form class="form-horizontal" role="form" action="{% if id %}{% url 'note_post_set' id %}{% else %}{% url 'note_post_set' %}{% endif %}" method="POST">{% csrf_token %}
  <div id="form-input">
  <div class="form-group">
    <div class="col-sm-8">{{ form.title }}</div>
    <div class="col-sm-0">{{ form.slug }}</div>
    <div class="col-sm-4">{{ form.topic }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">{{ form.text }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-3">{{ form.publish }}</div>
    <div class="col-sm-2">{{ form.status }}</div>
    <div class="col-sm-7">
      <button class="btn btn-primary pull-right" type="submit">保存</button>
    </div>
  </div>
  </div>
</form>
</div>
{% endblock %}
