{% extends "note/base_note.html" %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block script %}
<script src="{% static "highlight/highlight.pack.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "highlight/styles/github.css" %}" />
<script>
$(document).ready(function() {
    $('pre p').each(function(i, block) {
      hljs.highlightBlock(block);
    });
});
/*
$().showUp('.navbar', {
    upClass: 'navbar-show',
    downClass: 'navbar-hide'
});
*/
</script>
{% endblock %}

{% block navbar_right %}
<ul class="nav navbar-nav navbar-right">
  {% if user.is_superuser %}
  <li><a href="/note/topic/set/"><i class="icon-plus"></i></a></li>
  <li><a href="/note/post/set/{{ object.id }}"><i class="icon-pencil"></i></a></li>
  <li><a href="/admin/"><i class="icon-user"></i></a></li>
  <li><a href="/accounts/logout/"><i class="icon-signout"></i></a></li>
  {% else %}
  <li><a href="/accounts/login/"><i class="icon-signin"></i></a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
<div id="content">
  <ul class="pager hidden-print">
    {% if user.is_superuser %}
      {% if object.get_previous_post_su %}
      <li class="previous"><a href="{{ object.get_previous_post_su.get_absolute_url }}"><i class="icon-double-angle-left"></i> {{ object.get_previous_post_su }}</a></li>
      {% endif %}
      {% if object.get_next_post_su %}
      <li class="next"><a href="{{ object.get_next_post_su.get_absolute_url }}">{{ object.get_next_post_su }} <i class="icon-double-angle-right"></i></a></li>
      {% endif %}
    {% else %}
      {% if object.get_previous_post %}
      <li class="previous"><a href="{{ object.get_previous_post.get_absolute_url }}"><i class="icon-double-angle-left"></i> {{ object.get_previous_post }}</a></li>
      {% endif %}
      {% if object.get_next_post %}
      <li class="next"><a href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post }} <i class="icon-double-angle-right"></i></a></li>
      {% endif %}
    {% endif %}
  </ul>

  <div id="post" class="clearfix">
    <div id="post-title" class="page-header text-center">
      <h1>{{ object.title }}</h1>
    </div>

    <p class="text-muted clearfix">
      {% ifequal object.status 1 %}<span class="label label-danger hidden-print">草稿</span>{% endifequal %}
      {% ifequal object.status 2 %}<span class="label label-success hidden-print">私有</span>{% endifequal %}
      <span class="pull-right">
        <span id="author">{{ object.author }}</span> &nbsp;
        <span id="date">{{ object.publish|date:"Y-m-d H:i" }}</span>
      </span>
    </p>

    {% if object.topic %}
    <div id="post-other-topic" class="list-group pull-right hidden-print">
        <a class="list-group-item active" href="{% url 'note_topic_detail' object.topic.id %}"><strong>{{ object.topic }}</strong></a>
      {% if user.is_superuser %}
        {% if object.get_previous_topic_post_su %}
        <a class="list-group-item" href="{{ object.get_previous_topic_post_su.get_absolute_url }}"><i class="icon-double-angle-left"></i> {{ object.get_previous_topic_post_su }}</a>
        {% endif %}
        {% if object.get_next_topic_post_su %}
        <a class="list-group-item" href="{{ object.get_next_topic_post_su.get_absolute_url }}"><i class="icon-double-angle-right"></i> {{ object.get_next_topic_post_su }}</a>
        {% endif %}
      {% else %}
        {% if object.get_previous_topic_post %}
        <a class="list-group-item" href="{{ object.get_previous_topic_post.get_absolute_url }}"><i class="icon-double-angle-left"></i> {{ object.get_previous_topic_post }}</a>
        {% endif %}
        {% if object.get_next_topic_post %}
        <a class="list-group-item" href="{{ object.get_next_topic_post.get_absolute_url }}"><i class="icon-double-angle-right"></i> {{ object.get_next_topic_post }}</a>
        {% endif %}
      {% endif %}
    </div>
    {% endif %}

    <div id="post-text" class="ck-content">
      {{ object.text|safe }}
    </div>

    <p class="text-success hidden-print"><i class="icon-external-link"></i> <i class="small"><a href="http://www.yeolar.com{{ object.get_absolute_url }}">http://www.yeolar.com{{ object.get_absolute_url }}</a></i></p>
    <p class="visible-print"><i class="icon-external-link"></i> <i class="small">http://www.yeolar.com{{ object.get_absolute_url }}</i></p>
  </div>

  {% ifequal object.status 3 %}
  <div id="post-comment" class="hidden-print">
  </div>
  {% endifequal %}

  {% comment %}
  <ul class="pager hidden-print">
    {% if user.is_superuser %}
      {% if object.get_previous_post_su %}
      <li class="previous"><a href="{{ object.get_previous_post_su.get_absolute_url }}"><i class="icon-double-angle-left"></i> {{ object.get_previous_post_su }}</a></li>
      {% endif %}
      {% if object.get_next_post_su %}
      <li class="next"><a href="{{ object.get_next_post_su.get_absolute_url }}">{{ object.get_next_post_su }} <i class="icon-double-angle-right"></i></a></li>
      {% endif %}
    {% else %}
      {% if object.get_previous_post %}
      <li class="previous"><a href="{{ object.get_previous_post.get_absolute_url }}"><i class="icon-double-angle-left"></i> {{ object.get_previous_post }}</a></li>
      {% endif %}
      {% if object.get_next_post %}
      <li class="next"><a href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post }} <i class="icon-double-angle-right"></i></a></li>
      {% endif %}
    {% endif %}
  </ul>
  {% endcomment %}

  <a href="#" class="btn back-to-top btn-dark btn-fixed-bottom hidden-print"><i class="icon-chevron-up"></i></a>
</div>
{% endblock %}
